@media screen and (min-width: 480px) {
	.container {
		/* min-width: 288px; */
		max-width: 426px;
	}

	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.hero {
		max-width: 100%;
	}
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
} */
