@media screen and (min-width: 768px) {
	.container {
		max-width: 766px;
		align-items: center;
	}

	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	/* Section 1 */

	.advantages {
		padding-top: 100px;
		padding-bottom: 92px;
	}
	.advantages-list {
		display: flex;
		margin: 0;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 72px;
		column-gap: 24px;
	}
	.advantages-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.advantages-item-text {
		text-align: left;
		width: 356px;
	}

	/* Section 3 TEAM */
	.team-container {
		max-width: 766px;
	}
	.team-title {
		margin-bottom: 72px;
	}
	.team-list {
		flex-direction: row;
		row-gap: 64px;
		column-gap: 24px;
	}

	/* Section 4 */
	.container.customers {
		width: 552px;
		padding: 0;
	}
	.customers-list {
		column-gap: 24px;
	}

	.customers-item {
		flex-basis: calc((100% - 48px) / 3);
	}
	.customer-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 168px;
	}
	/* Footer */
	.big-footer-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: start;
		gap: 24px;
		position: relative;
		height: 262px;
		padding-top: 0;
		margin-left: 108px;
	}
	.first-footer-container {
		/* margin-left: 108px; */
		justify-content: flex-start;
		align-items: start;
		padding: 0;
		/* padding-left: 15px; */
		width: 264px;
	}
	.footer.logo {
		margin: 0 auto 0 0;
	}
	.footer-text {
		margin-right: 0;
		margin-left: 0;
		text-align: left;
	}
	.secondary-footer-container {
		display: block;
		padding-left: 0;
		margin: 0;
	}
	.footer-social-subtitle {
		text-align: left;
		margin-top: 0;
	}
	.third-footer-container {
		position: absolute;
		bottom: 0;
		left: 0;
		padding-left: 15px;
		/* left: 108px; */
		/* padding-bottom: 96px; */
	}
	.footer-form {
		display: flex;
		gap: 24px;
		position: relative;
		min-width: 453px;
		min-height: 80px;
	}
	.footer-subscribe-subtitle {
		position: absolute;
		top: 0;
		left: 0;
		text-align: left;
	}
	.subscribe-input {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 264px;
		margin: 0;
	}
	.subscribe-btn {
		position: absolute;
		left: 288px;
		bottom: 0;
	}
}
